body {
    background-color: rgb(247, 247, 247);
  }

.centered-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
  }
.center_padded {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 25px;
    border: 3px solid #0275d8;
    padding: 50px;
}


.bla {
    padding: 70px 0;
  }


.innerWrapper {
    margin-top: 0;
    margin-bottom: auto;
  }

.outerWrapper{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    /* This is ignored */
    align-items: center;
    overflow: auto;
}

.innerWrapper {
    margin-top: auto;
    margin-bottom: auto;
    width: 70%;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
  }

  .centered-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
  }

  .center_padded_mod {
    margin:auto;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    border-radius: 25px;
    border: 3px solid #0275d8;
    padding: 50px;
}

p{text-align: center;}